@charset "utf-8";

#gallery * {
	word-break: initial;
}

.mod_gallery_list #gallery {
	width: 100%;
	height: auto;
	padding: 0 35px;
	margin: 0 auto 40px;
}
.mod_gallery_list #gallery dl {
	margin: 0 10px;
}
.mod_gallery_list #gallery dl:nth-child(3n) {
	margin-right: 10px;
}
#gallery dl dd.img {
	width: 100%;
}
#gallery dl dt+dd {
	display: none;
}

/* slick
------------------------------*/
.mod_gallery_list #gallery .slick-prev {
	z-index: 100;
	top: 40%;
	left: 0;
	width: 30px;
	height: 51px;
	background: url(../../img/arrow_left_off.jpg) center no-repeat;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.mod_gallery_list #gallery .slick-next {
	z-index: 100;
	top: 40%;
	right: 0;
	width: 30px;
	height: 51px;
	background: url(../../img/arrow_right_off.jpg) center no-repeat;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.mod_gallery_list #gallery .slick-prev::before,
.mod_gallery_list #gallery .slick-next::before {
	content: '';
	display: none;
	background: url(../../img/arrow_left_on.jpg),
		url(../../img/arrow_right_on.jpg);
}
.mod_gallery_list #gallery .slick-prev:hover {
	background: url(../../img/arrow_left_on.jpg) center no-repeat;
}
.mod_gallery_list #gallery .slick-next:hover {
	background: url(../../img/arrow_right_on.jpg) center no-repeat;
}
@media screen and (max-width: 480px){
	.mod_gallery_list #gallery {
		padding: 0 35px;
	}
	.mod_pickup_gallery #gallery dl,
	.mod_gallery_list #gallery dl {
		float: left;
	}
}
